<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Mini Twitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Mini Twitter</h1>
    <textarea id="newPost" placeholder="Что нового?"></textarea>
    <button id="sendBtn">Отправить</button>
    <div id="feed"></div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
